.about {
    &__title {
        @media (min-width: $lg) {
            margin: 0 0 45px;
        }
    }
    &__item {
        margin-bottom: calc($gap * 2);
        &-skill {
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: .5rem;
        }
    }
    @media (min-width: $lg) {
        padding-top: calc($gap * 7);
        padding-bottom: calc(($gap * 6));
    }
}

.progress {
    @media (min-width: $lg) {
        height: 20px;
    }
}

.bg-danger {
    background-color: $color-orange !important;
}